{% extends 'structure.html' %}
{% block content %}
    <a href={{ url_for('td_list') }}><i class="material-icons">arrow_back</i>Back</a>
    <fieldset>
        {% for message in get_flashed_messages() %}
           {{ message }}
        {% endfor %}
    <form method="POST" action={{ action }}>
        <div class="form-group">
            <label for="item_name">Item name</label>
            <input type="text" name="item_name"
                    {% if item %} value={{ item.name }} {% endif %} />
            <label for="priority">Priority</label>
            <input type="range" name="priority" min="1" max="5"
                    {% if item %} value={{ item.priority }} {% endif %} />
            <label for="due_date">Due time</label>
            <input type="date" name="due_date" class="datepicker"
                    {% if item %} value={{ item.due_date }}{% endif %} />
        {% if is_edit %}
            <p>
            <input class="with-gap" name="status" type="radio" {% if item.status == 1 %}checked{% endif %} id="done"  />
            <label for="done">Done</label>
            <input class="with-gap" name="status" type="radio" id="undone"  />
            <label for="undone" {% if item.status == 0 %}checked{% endif %}>Undone</label>
            </p>
        {% endif %}
        </div>
        <div>
            <input class="btn btn-primary" type="reset" value="Reset">
            <input class="btn btn-primary" type="submit" value={{ submit_title }}>
        </div>
    </form>
        </fieldset>
{% endblock %}