{% extends 'structure.html' %}
{% block content %}
    <div class="col s7 offset-s2">
        <div class='card indigo white-text'>
            <div class="card-content">
                <h1>
                    My ToDo list
                </h1>
            </div>
        </div>
        <div>
            {% for message in get_flashed_messages() %}
                {{ message.decode('utf-8') }}
            {% endfor %}
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#actual">Actual</a></li>
                        <li class="tab"><a href="#archived">Archived</a></li>
                    </ul>
                </div>
                {% if todo_list %}
                    <label>Choose sort type</label>
                    <form name="sort_types" method="POST" action={{ url_for('td_list') }}>
                        <select class="browser-default" name="sort" onchange="this.form.submit()">
                            <option value="priority" {% if session['sort_type'] == 'priority' %}selected{% endif %}>
                                Priority
                            </option>
                            <option value="name" {% if session['sort_type'] == 'name' %}selected{% endif %}>
                                Name
                            </option>
                            <option value="due date" {% if session['sort_type'] == 'due date' %}selected{% endif %}>
                                Due date
                            </option>
                            <option value="create date" {% if session['sort_type'] == 'create date' %}selected{% endif %}>
                                Create date
                            </option>
                            <option value="status" {% if session['sort_type'] == 'status' %}selected{% endif %}>
                                Status
                            </option>
                        </select>
                               <button class="waves-effect waves-light btn right" onclick="this.form.submit()"><i class="material-icons left">
                                   {% if session['sort_direct'] == 'asc' %}arrow_upward{% else %}arrow_downward{% endif %}</i>
                               </button>

                    </form>
                {% endif %}
            </div>
            <div class="card-content" id="actual">
                {% if not todo_list %}
                    There is no todo item. You can <a href={{ url_for('add') }}>add</a> something
                {% else %}
                    <ul class="collapsible popout" data-collapsible="accordion">
                        {% for item in todo_list %}
                            {% include 'includes/todo_list_scheme.html' %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="card-content" id="archived">
                {% if not archive_list %}
                    There is no todo item in archive.
                {% else %}
                    <ul class="collapsible popout" data-collapsible="accordion">
                    {% for item in archive_list %}
                        {% include 'includes/todo_list_scheme.html' %}
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="{{ url_for('add') }}" class="btn-floating btn-large red">
            <i class="material-icons">add</i>
        </a>
    </div>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });
</script>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
{% endblock %}